@import "tailwindcss";

body {
  font-family: 'Roboto Mono', monospace;
}


@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 4s ease-in-out infinite 1s;
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}
